th{
padding-top:20px;
padding-bottom:20px;
text-align:left;
color:white;
background-color:#b22222;
border:1px solid grey;
}
td,th{
padding:8px;
border:1px solid grey;
}
#table{
border-collapse:collapse;
width:100%;
font-family:sans-serif;
}
tr:nth-child(even){
background-color:#f2f2f2;
}
tr:hover{
background-color:burlywood;
}


